/*Neutralize border and margins*/

@font-face {
    font-family: Helvetica_Black;
    src: url('../fonts/Helvetica-Black.otf');
}

@keyframes nav-bar {
    5% {
        background-color: rgba(0, 128, 0, .05);
        width: 0px;
    }

    25% {
        background-color: rgba(0, 128, 0, .25);
        width: 25%;
    }

    50% {
        background-color: rgba(0, 128, 0, .55);
        width: 50%;
    }

    100% {
        background-color: rgba(0, 128, 0, .85);
        width: 100%;
    }
}


* {
    margin: 0px;
    padding: 0px;

}

nav {
    display: flex;
    background-color: rgba(0, 128, 0, .85);
    list-style-type: none;
    /*justify-content: flex-end;*/
    align-items: center;
    height: 50px;
    color: blue;
    position: fixed;
    width: 100%;
    animation: nav-bar 1s linear 0s 1;
    animation-fill-mode: forwards;
    border-bottom: 1px solid rgba(0, 30, 0, .85);
    font-family: 'Amaranth', sans-serif;
}

nav .logo {
    flex: 3;
    text-align: center;
    font-size: 100px;
    margin-top: 40px;
    text-shadow: 1px 1px 40px rgba(0, 128, 0, .85);
    ;
    -webkit-text-stroke: 3px rgba(0, 128, 0, .85);
    font-style: italic;

}

.nav-inner {
    flex: 7;
    display: flex;
    justify-content: space-around;
}

nav a {

    /*margin-top:5px;*/
    text-decoration: none;
    color: yellow;
}


main {
    padding-top: 50px;
}

footer {
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 120, 0, .7);
    padding: 10px;
    border-top: 2px solid rgba(0, 30, 0, .85);
}

footer small {
    flex: 1;
    padding: 0px 20px;
}

footer .social-links a {
    flex: 1;
    color: white;
    font-size: 30px;
    padding: 10px;
    text-shadow: 2px 2px black;
}

/*-------------HOME PAGE---------------------*/
main.home {

    width: 100vw;
    /*height:100vh;*/
    background: url("../img/veggies1.jpg")fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Arial', serif;

}


.home section {
    display: flex;
    justify-content: flex-end;
    margin: 120px 100px 0px;
    /*border: 2px solid;*/
    height: 100vh;
    /*width:100%;*/
    /*overflow: hidden;*/
    position: relative;


}

/**/
@keyframes scrolldown-banner {
    0% {
        top: -40px;
        display: none;
        opacity: 0;
    }

    20% {
        top: 0px;
        display: block;
        opacity: 1;
    }

    80% {
        top: 0px;
        opacity: 1;
    }

    100% {
        top: 30px;
        opacity: 0;
    }
}



.home section div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /*height: 40px;*/

    /*border: 1px solid black;*/


    letter-spacing: 5px;
    /*line-height: 120px;*/
    /*overflow: hidden;*/
    text-align: left;
    font-size: 38px;
    font-style: italic;
    color: yellow;
    -webkit-text-stroke: 3px green;
    text-shadow: 5px 5px 20px black;

    animation: scrolldown-banner 5s linear 0s infinite;


}



.home section:nth-child(2) {
    justify-content: flex-start;
}

/*---------------APP PAGE*------------------*/


main.app {
    font-family: Arial;
    width: 100vw;
    /*height:100vh;*/
    /*background: url("../img/veggies2.jpg")fixed;*/
    background-position: cover;
    /*opacity:.2;*/

}

.mainapp {
    background: rgba(255, 255, 255, .1);
}

.app section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 70px 80px;
    /*height: 22vh;*/
    /*letter-spacing:5px;*/
    /*border: 2px solid black;*/
    background-color: rgba(230, 240, 177, 1);

}

.app section div {
    /*border:solid;*/
}

/*-----app starts here--------------*/
.ing-input {
    flex: 2;
    background-color: white;
    height: 550px;
    border: solid;
    margin-right: 40px;
    font-size: 20px;
    padding: 30px;
}

input.ings-list-amnt {
    width: 40px;
    font-size: 20px;
    text-align: right;
}

.ing-input select#ings {
    width: 100%;
    font-size: 20px;
    margin-bottom: 40px;
}

.ing-input ul#ingredients-list {
    list-style-type: none;
}

.ing-input ul#ingredients-list li select {
    font-size: 20px;
    margin: 3px;
}

.ing-input ul#ingredients-list li span {
    margin: 20px;
}

.remove {
    text-decoration: none;
}

/*-----nutrition label starts here------*/

#ingID,
#ingName {
    display: none;
}

#nut-facts-wrapper {
    flex: 2;
    min-height: 550px;
}

.nutrition-facts {
    background: rgba(255, 255, 255, 1);
    width: 300px;
    border: solid;
    padding: 0px 5px;
}



#serv-size-row,
#serv-cont-row,
#tot-fat-inner-row,
#tot-carb-inner-row,
.protein {
    display: flex;
    padding: 3px;
}

#servAmnt,
#servMeas,
#servCont,
#calories,
#totalFat,
#totalCarb,
#protein {
    color: blue;

}


.nutrition-facts div {
    padding-top: 5px;
}

.nutrition-facts .top {
    border-bottom: 8px solid black;
}

.nutrition-facts h1 {
    font-family: 'Helvetica_Black', arial;
    font-size: 36px;
    /*text-align: center;*/
    font-weight: bold;
    ;
}

.nutrition-facts h3,
    {
    font-size: 16px;
}


.amt-per-serv,
.perc-daily-val {
    font-family: 'Helvetica_Black', arial;
    border-bottom: 1px solid black;
    font-size: 12px;
    font-weight: bold;
}

.nutrition-facts h4 {
    font-family: 'Helvetica_Black', arial;
}

.calories-line {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    border-bottom: 4px solid black;
}

.perc-daily-val {
    display: flex;
    justify-content: flex-end;
}

.sub-heading {

    display: flex;
    justify-content: space-between;
    padding-top: 5px;
}

.fat-sub-heading,
.carb-sub-heading {

    padding-left: 20px;

}

.fat-sub-heading h3,
.carb-sub-heading h3 {
    /*border-top:1px solid black;*/
    /*border-bottom:1px solid black;*/
    padding-top: 2px;
}

.sat-fat,
.diet-fiber {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.vitA,
.vitC,
.calcium,
.iron {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}


.chol,
.sodium,
.total-carb {
    display: flex;
    justify-content: space-between;

}

.chol,
.sodium {
    border-bottom: 1px solid black;
}

.protein {
    border-bottom: 8px solid black;
}

/*.sub-heading.chol h3, .sodium h3{
    font-family: 'Helvetica_Black', arial;
}*/


/*-------------INFO PAGE-------------------*/

main.info {
    font-family: Arial;
    width: 100vw;
    /*height:100vh;*/
    background: url("../img/grains2.jpg")fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /*background-color:rgba(230,240,177,1);*/

}

.info section.main-info {
    background-color: rgba(230, 240, 177, .45);
    display: flex;
    margin: 60px 60px 20px;
    position: relative;
    border-radius: 20px;
    border: 1px solid black;

}

.info section.main-info:hover {
    animation: blend 1s linear forwards;
}

@keyframes blend {

    50% {
        background-color: rgba(230, 240, 177, .50);
        ;
    }

    75% {
        background-color: rgba(230, 240, 177, .75);
        ;
    }

    100% {
        background-color: rgba(230, 240, 177, .96);
        ;
    }
}

.label-info {
    flex: 3;
    margin-top: 50px;
}

.banner-info {
    position: absolute;
    top: 20;
    left: 35px;
    /*width: 100%;*/
    letter-spacing: 5px;
    /*text-align: left;*/
    font-size: 32px;
    font-style: italic;
    color: yellow;
    -webkit-text-stroke: 2px green;
    text-shadow: 5px 5px 15px darkgrey;
    animation: info-banner 1s linear 0s forwards;
}

@keyframes info-banner {
    0% {
        top: -40px;
        display: none;
        opacity: 0;
    }

    100% {
        top: 20px;
        display: block;
        opacity: 1;
    }
}

.label-info div {
    margin: 0px 30px;
    border-radius: 15px;
}



.label-cats {
    position: relative
}


.title {
    position: absolute;
    font-size: 25px;
}

.text {
    font-family: Amaranth;
    position: absolute;
    top: 20px;
    display: none;
    background-color: lightyellow;
    font-size: 20px;
    line-height: 30px;
    margin: 20px 40px;
    padding: 20px;
    border-radius: 5px;
}


.colored-label-wrapper {
    flex: 3;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /*background-color:rgba(255,255,224,.1);*/

}

.colored-label-div {
    /*background-color: lightyellow;*/

    /*border:1px solid;*/
    min-width: 0;
    /*margin:5px;*/
}

.colored-label-pic {
    width: 650px;
    max-width: 100%;
    max-height: 800px;
}


/*----------GUIDE PAGE----------*/
main.guide {
    font-family: Amaranth;
    width: 100vw;
    /*https://wallpaperscraft.com/download/vegetables_sauce_oil_vegetarian_70648/1920x1080*/
    background: url("../img/veggies3.jpg")fixed;
    background-size: cover;
    /*background-position: center;*/
    background-repeat: no-repeat;
    /*height: 100vh;*/
}

.main-guide {
    background: rgba(255, 255, 255, 0);

}

.guide div .main-guide {
    padding: 0px 0px;
}

.guide-wrapper {
    padding-bottom: 20px;
}

.guide section {
    display: flex;
    /*justify-content: space-around;*/
    /*align-items: center;*/
    margin: 80px 100px 0px 100px;
    /*height: 22vh;*/
    /*background-color: rgba(230, 240, 177, 1);*/
    background-color: lightyellow;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px black;
    border: 1px solid black;

}

.guide section div h1 {
    font-size: 25px;
    font-style: italic;
    color: green;

}

.guide section div p {

    margin-top: 10px;
    /*position: absolute;*/
}

.guide-blurb {
    flex: 2;
    padding: 10px 30px;
    font-size: 25px;
    line-height: 37px;
    /*text-align:center;*/

}

.guide-img-wrapper {
    flex: 3;
    min-width: 0px;
    display: flex;
    justify-content: center;
    /*padding:10px;*/
}

.guide-img-inner-wrapper {
    min-width: 0;
    margin: 0;
    /*padding:10px;*/

}

.guide-img-inner-wrapper img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    box-shadow: 1px 1px black;
    border-radius: 5px;
}



/*----------TESTIMONIALS PAGE----------*/
main.testimonials {
    font-family: Amaranth;
    width: 100vw;
    background: url("../img/beans.jpg")fixed;
    background-size: cover;
    /*background-position: center;*/
    background-repeat: no-repeat;
    /*height: 100vh;*/
}

.main-testimonials {
    background: rgba(255, 255, 255, 0);

}

.testimonials-wrapper {
    padding-bottom: 20px;
}

.testimonials div .main-testimonials {
    padding: 0px 0px;
}

.testimonials section {
    display: flex;
    /*justify-content: space-around;*/
    /*align-items: center;*/
    margin: 80px 100px 0px 100px;
    /*height: 22vh;*/
    background-color: rgba(230, 240, 177, .9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px black;
    border: 1px solid black;

}

.testimonials section div h1 {
    font-size: 25px;
    font-style: italic;

}

.testimonials section div p {
    margin-top: 10px;
}

.testimonials-blurb {
    flex: 2;
    padding: 10px 30px;
    font-size: 25px;
    line-height: 37px;
    /*text-align:center;*/

}

.testimonials-img-wrapper {
    flex: 3;
    min-width: 0px;
    display: flex;
    justify-content: center;
    /*padding:10px;*/
}

.testimonials-img-inner-wrapper {
    min-width: 0;
    margin: 0;
    /*padding:10px;*/

}

.testimonials-img-inner-wrapper img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    box-shadow: 1px 1px black;
    border-radius: 5px;
}

/*----------HORIZONS PAGE----------*/
main.horizons {
    font-family: Amaranth;
    width: 100vw;
    /*https://wallpaperscraft.com/download/vegetables_sauce_oil_vegetarian_70648/1920x1080*/
    background: url("../img/veggies3.jpg")fixed;
    background-size: cover;
    /*background-position: center;*/
    background-repeat: no-repeat;
    /*height: 100vh;*/
}

.main-horizons {
    background: rgba(255, 255, 255, 0);

}

.horizons div .main-horizons {
    padding: 0px 0px;
}

.horizons-wrapper {
    padding-bottom: 20px;
}

.horizons section {
    display: flex;
    /*justify-content: space-around;*/
    /*align-items: center;*/
    margin: 80px 100px 0px 100px;
    /*height: 22vh;*/
    /*background-color: rgba(230, 240, 177, 1);*/
    background-color: lightyellow;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px black;
    border: 1px solid black;

}

.horizons section div h1 {
    font-size: 25px;
    font-style: italic;
    color: green;

}

.horizons section div p {

    margin-top: 10px;
    /*position: absolute;*/
}

.horizons-blurb {
    flex: 2;
    padding: 10px 30px;
    font-size: 25px;
    line-height: 37px;
    /*text-align:center;*/

}

.horizons-img-wrapper {
    flex: 3;
    min-width: 0px;
    display: flex;
    justify-content: center;
    /*padding:10px;*/
}

.horizons-img-inner-wrapper {
    min-width: 0;
    margin: 0;
    /*padding:10px;*/

}

.horizons-img-inner-wrapper img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    box-shadow: 1px 1px black;
    border-radius: 5px;
}

/*----------ABOUT PAGE-----------*/

main.about {
    font-family: Amaranth;
    width: 100vw;
    /*https://wallpaperscraft.com/download/vegetables_sauce_oil_vegetarian_70648/1920x1080*/
    background: url("../img/grains.jpg")fixed;
    background-size: cover;
    /*background-position: center;*/
    background-repeat: no-repeat;
    /*height: 100vh;*/
}

.main-about {
    background: rgba(255, 255, 255, 0);

}


.about-wrapper {
    padding-bottom: 20px;

}

.about section {
    display: flex;
    /*justify-content: space-around;*/
    /*align-items: center;*/
    margin: 80px 100px 0px 100px;
    /*height: 22vh;*/
    /*background-color: rgba(230, 240, 177, 1);*/
    background-color: lightyellow;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px black;
    border: 1px solid black;

}

.about section div h1 {
    font-size: 25px;
    font-style: italic;
    color: green;

}

.about section div p {

    margin-top: 10px;
    /*position: absolute;*/
}

.about-blurb {
    flex: 2;
    padding: 10px 30px;
    font-size: 25px;
    line-height: 37px;
    
    padding: 60px 40px;
    overflow: hidden;
    /*background-color: rgba(230, 240, 177, 1);*/
    /*border: 1px solid green;*/

}

.about-blurb h1 {
    font-size: 40px;
}

.about-blurb p {
    padding-top: 20px;
}

.about-tape {
    display: flex;
    justify-content: center;
}
.about-img-wrapper {
    flex: 3;
    min-width: 0px;
    display: flex;
    justify-content: center;
    /*padding:10px;*/
}

.about-img-inner-wrapper {
    min-width: 0;
    margin: 0;
    /*padding:10px;*/

}

.about-img-inner-wrapper img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    box-shadow: 1px 1px black;
    border-radius: 5px;
}


span#terms{
    color:blue;
}






/*---------LEGAL MODAL-----*/

#legal-modal {

    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top:100px;
    border: 3px black;
    height:100%;

    /*background-color:lightyellow;*/
    width:89%;
    display:none;
}

#legal-template {
   /* position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top:0;*/
    background-color: lightyellow;
    width:100%;
    height:900px%;
    /*position:absolute;*/
    border: 1px solid black;
    position:relative;
    
}

.modal-content {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top:80px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
      
    width:80%;
 
}

.modal-content h1{
    font-family: 'UnifrakturCook', cursive;
    font-size: 60px;
    text-align: center;
    margin-bottom: 10px;
}

.modal-content h2{
    font-family: 'UnifrakturCook', cursive;
    font-size: 30px;
    font-weight:bold;

}

span#close-modal{
    display:flex;
    justify-content: flex-end;
    font-size: 50px;
    /*margin-top:50px;*/
}

.legal-modal{
    margin-top:60px;
}















