/*Neutralize border and margins*/

@font-face {
    font-family: Helvetica_Black;
    src: url('../fonts/Helvetica-Black.otf');
}

@keyframes nav-bar {
    5% {
        background-color: rgba(0, 128, 0, .05);
        width: 0px;
    }

    25% {
        background-color: rgba(0, 128, 0, .25);
        width: 25%;
    }

    50% {
        background-color: rgba(0, 128, 0, .55);
        width: 50%;
    }

    100% {
        background-color: rgba(0, 128, 0, .85);
        width: 100%;
    }
}


* {
    margin: 0px;
    padding: 0px;
    font-family: Arial;
}

nav {
    display: flex;
    background-color: rgba(0, 128, 0, .85);
    list-style-type: none;
    /*justify-content: flex-end;*/
    align-items: center;
    height: 50px;
    color: white;
    position: fixed;
    width: 100%;
    animation: nav-bar 1s linear 0s 1;
    animation-fill-mode: forwards;
    border-bottom: 1px solid rgba(0, 30, 0, .85);

}

nav .logo {
    flex: 3;
    text-align: center;
    font-size: 80px;
    margin-top: 40px;
    /*text-shadow:1px 1px 4px rgba(0, 128, 0, .85);;*/
    -webkit-text-stroke: 3px rgba(0, 128, 0, .85);

}

.nav-inner {
    flex: 7;
    display: flex;
    justify-content: space-around;
}

nav a {


    text-decoration: none;
    color: white;
}

main {
    padding-top: 50px;
}

footer {
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 120, 0, .7);
    padding: 10px;
    border-top: 2px solid rgba(0, 30, 0, .85);
}

footer small {
    flex: 1;
    padding: 0px 20px;
}

footer .social-links a {
    flex: 1;
    color: white;
    font-size: 30px;
    padding: 10px;
    text-shadow: 2px 2px black;
}

/*-------------HOME PAGE---------------------*/
main.home {

    width: 100vw;
    /*height:100vh;*/
    background: url("../img/veggies1.jpg")fixed;
    background-position: center;
    /*background-size: cover;*/
    background-repeat: no-repeat;

}


.home section {
    display: flex;
    justify-content: flex-end;
    /*align-items: center;*/
    /*background-color:green;*/
    margin: 50px 200px 0px;
    /*border: 2px solid;*/
    height: 100vh;
    /*width:100%;*/
    /*overflow: hidden;*/
    position: relative;
    /*background: url("../img/woman_fruit.jpg")fixed;*/
    /*background-position: center;*/
    /*background-size: cover;*/
    /*background-repeat: no-repeat*/
}
/**/
@keyframes slide {
    0% {top: -40px;
    display:none;
    opacity: 0;}
20%{top: 0px;
    display:block;
opacity:1;
}
80%{top: 0px;
opacity:1;}
100%{top: 30px;
opacity:0;}
}



.home section div {
   position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /*height: 40px;*/
    
    /*border: 1px solid black;*/
    
    
    letter-spacing: 5px;
    /*line-height: 120px;*/
    /*overflow: hidden;*/
    text-align: left;
    font-size: 38px;
    font-style: italic;
    color: yellow;
    -webkit-text-stroke: 3px green;
    text-shadow: 5px 5px 20px black;
    
    animation-name: slide;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    /*-webkit-animation-name: slide;*/
    -webkit-animation-duration: 5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

}



.home section:nth-child(2) {
    justify-content: flex-start;
}

/*---------------APP PAGE*------------------*/


main.app {
    font-family: Arial;
    width: 100vw;
    /*height:100vh;*/
    background: url("../img/veggies2.jpg")fixed;
    background-position: cover;
    /*opacity:.2;*/

}

.mainapp {
    background: rgba(255, 255, 255, .1);
}

.app section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px 100px;
    /*height: 22vh;*/
    /*letter-spacing:5px;*/
    border: 2px solid black;

}

.app section div {
    /*border:solid;*/
}

/*-----app starts here--------------*/
.mainapp ul {
    list-style-type: none;

}

.flex-ul {
    display: flex;
    min-width: 300px;
    justify-content: space-between;
}

/*-----nutrition label starts here------*/
.nutrition-facts {
    background: rgba(255, 255, 255, .95);
    width: 300px;
    height: 560px;
    border: solid;
    padding: 0px 5px;
}

.nutrition-facts div {
    padding-top: 5px;
}

.nutrition-facts .top {
    border-bottom: 8px solid black;
}

.nutrition-facts h1 {
    font-family: 'Helvetica_Black', arial;
    font-size: 36px;
    /*text-align: center;*/
    font-weight: bold;
    ;
}

.nutrition-facts h3 {
    font-size: 16px;
}

.nutrition-facts p {
    font-size: 12px;
    font-weight: bold;
}

.amt-per-serv,
.perc-daily-val {
    font-family: 'Helvetica_Black', arial;
    border-bottom: 1px solid black;
}

.nutrition-facts h4 {
    font-family: 'Helvetica_Black', arial;
}

.calories-line {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    border-bottom: 4px solid black;
}

.perc-daily-val {
    display: flex;
    justify-content: flex-end;
}

.sub-heading {

    display: flex;
    justify-content: space-between;
    padding-top: 5px;
}

.fat-sub-heading,
.carb-sub-heading {

    padding-left: 20px;

}

.fat-sub-heading h3,
.carb-sub-heading h3 {
    /*border-top:1px solid black;*/
    /*border-bottom:1px solid black;*/
    padding-top: 2px;
}

.sat-fat,
.diet-fiber {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.vitA,
.vitC,
.calcium,
.iron {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}


.chol,
.sodium,
.total-carb {
    display: flex;
    justify-content: space-between;

}

.chol,
.sodium {
    border-bottom: 1px solid black;
}

.protein {
    border-bottom: 8px solid black;
}

/*.sub-heading.chol h3, .sodium h3{
    font-family: 'Helvetica_Black', arial;
}*/























/*-------------INFO PAGE-------------------*/

main.info {
    font-family: Arial;
    width: 100vw;
    /*height:100vh;*/
    background: url("../img/grains.jpg")fixed;
    background-position: cover;
    /*opacity:.2;*/

}

.main-info {
    background: rgba(255, 255, 255, .3);
}

.info section {
    display: flex;
    justify-content: space-around;
    /*align-items: center;*/
    padding: 30px 100px;
    /*height: 22vh;*/
    /*letter-spacing:5px;*/
    /*border:2px solid black;*/

}

.info section div {
    /*border:solid;*/
}

.label-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /*height:400px;*/
    flex: 5;

}

.colored-label {
    background-color: lightyellow;
    flex: 3;
}


.label-info div {
    background: rgba(255, 255, 255, .6);
    width: 600px;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 5px rgba(255, 255, 255, .6);
}

/*----------TESTIMONIALS PAGE-----------*/


main.testimonials {
    font-family: Arial;
    width: 100vw;

    background: url("../img/beans.jpg")fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /*opacity:.2;*/
    height: 100%;
}

.main-testimonials {
    background: rgba(255, 255, 255, .3);
}

.testimonials section {
    display: flex;
    /*justify-content: space-around;*/
    align-items: flex-start;
    padding: 30px 100px;
    /*height: 22vh;*/
    /*letter-spacing:5px;*/
    /*border:2px solid black;*/

}

.testimonials section div {
    border: solid;
}

/*----------TESTIMONIALS PAGE-----------*/


main.future {
    font-family: Arial;
    width: 100vw;

    background: url("../img/fruit1.jpg")fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /*opacity:.2;*/
    height: 100%;
}

.main-future {
    background: rgba(255, 255, 255, .3);
}

.future section {
    display: flex;
    /*justify-content: space-around;*/
    align-items: flex-start;
    padding: 30px 100px;
    /*height: 22vh;*/
    /*letter-spacing:5px;*/
    /*border:2px solid black;*/

}

.future section div {
    border: solid;
}


/*----------ABOUT PAGE-----------*/


main.about {
    font-family: Arial;
    width: 100vw;

    background: url("../img/bread.jpg")fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /*opacity:.2;*/
    height: 100%;
}

.main-about {
    background: rgba(255, 255, 255, .3);
}

.about section {
    display: flex;
    /*justify-content: space-around;*/
    align-items: flex-start;
    padding: 80px 100px;
    /*height: 22vh;*/
    /*letter-spacing:5px;*/
    /*border:2px solid black;*/

}

.about section div {
    border: solid;
    /*position: absolute;*/
}